@import url(variables.css);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--color--one);
    color: var(--color--five);
    font-family: sans-serif;
}
/*HEADER*/
.header{
    width: 100vw;
    text-align: center;
    height: 10vh;
}

.header > h1{
    text-transform: uppercase;
}

/*MAIN*/
/*Seccion 1*/
.main{
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    height: 90vh;
    padding: 0 4vw;
}

.main__list{
    height: 100%;
    display: grid;
    grid-template-rows: 6fr 1fr;
}

.list__checklist{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.checklist__item{
    display: flex;
    gap: .5vw;
}

.checklist__item > i{
    position: relative;
    top: -.3vw;
    font-size: 2vw;
}

.checklist__item__content{
    display: flex;
    flex-direction: column;
    gap: .5vw;
}

.checklist__item__content p:first-child{
    color: var(--color--two);
    text-transform: uppercase;
    font-weight: bold;
}


.checklist__item__text{
    color: var(--color--seven);
    text-transform:capitalize;
}

.checklist__item__special{
    color: var(--color--five);
    text-transform:capitalize;
}

.buttons__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.buttons__container > *{
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9vw;
}


.buttons__container :first-child{
    background-color: var(--color--five);
    height: 100%;
    border: 0;
    border-radius: 7px;
    width: 40%;
}

.buttons__container :last-child{
    background-color: var(--color--one);
    color: var(--color--five);
    height: 70%;
    outline : 1px solid var(--color--five);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 35%;

}


/*Seccion 2*/

.main__content{
    height: 90vh;
}

.content__box1{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    height: 10vw;
    padding: 0 1vw;
}

.box1__item{
    display: flex;
    justify-content: center;
}
.circleBar__text{
    transform: rotate(180deg); 

}


.item__circleBar {
    color: var(--color--five);
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background: radial-gradient(
        closest-side, 
        var(--color--one) 85%, 
        transparent 85% 100%), 
        conic-gradient(var(--color--three) 
        80%, 
        transparent 0);  
    transform: rotate(180deg); 

    display: flex;
    justify-content: center;
    align-items: center;
  }

/*Seccion 3*/
.main__progressBars{
    height: 100%;
    display: grid;
    grid-template-rows: 6fr 1fr;
}

.progressBars__allItems{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.progressBars__item__info{
    height: auto;
    height: 30px;
    display: flex;
    align-items: center;
    width: 100%;
}

.info__bar{
    background-color: var(--color--seven);
    width: 70%;
    height: 10px;
    border-radius: 100px;
}

.bar{
    background-color: var(--color--three);
    height: 10px;
    border-radius: 100px;
}

.info__text{
    width: 30%;
    text-align: center;
}

.progressBars__select{
    display: flex;
    justify-content: center;
}

#selectRocket{
    height: 50%;
    border: 1px solid var(--color--five);
    border-radius: 10px;
    color: white;
    background-color: var(--color--one);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: .9vw;

}

#selectRocket > *{
    font-family: sans-serif;
    text-transform: capitalize;
}